{{status}}

<form action="" method="POST">
    <div style=" width: 100%; height: 100%; padding-top: 30%; display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <div>
            <label for="">Fazer compras apenas</label>
            <input type="radio" name="text_compra" id="">
        </div>
        <div>
            <label for="">Quero ser Afiliado</label>
            <input type="radio" name="text_afiliado" id="">
        </div>
        <div>
            <label for="">Sou produtor</label>
            <input type="radio" name="text_produtor" id="">
        </div>
    
        <div class="">
            <label for="">Nome Completo</label>
            <input type="text" name="text_nome_completo">
        </div>
        <div class="">
            <label for="">Numero de celular</label>
            <input type="number" name="text_numero_celular">
        </div>
        <div class="">
            <label for="">Email</label>
            <input type="email" name="text_email">
        </div>
        <div class="">
            <label for="">Numero do Bilhete de Identidade</label>
            <input type="text" name="text_bi">
        </div>
        <div class="">
            <label for="">Palavra passe</label>
            <input type="password" name="text_palavra_passe">
        </div>
        <div class="">
            <label for="">Confirme a sua senha</label>
            <input type="password" name="text_palavra_passe_repeat">
        </div>
    
        <div class="">
            <input type="text" name="text_grupos" value="2">
        </div>
    
       <div>
            <a href="{{URL}}/login">Acessar</a>
            <button type="submit">Registra-se</button>
       </div>
    </div>
    
</form>
